//Edicion de títulos y texto
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

body {
    width: 100%;
    height: auto;
}

main {
    margin: auto
}

a {
    text-decoration: none;
}

/*h2{
    display: flex;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-wrap: nowrap;
    color: $colorNaranjaRojizo;
    font-size: 5.4vh;
    p {
        color: black;
    }
}*/
h3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #2e4442;
    font-size: 6vh;

    p {
        color: $colorNaranjaRojizo;
        font-size: 7vh;
    }
}

.btn-primary:hover {
    background-color: #397a3c;
}

img {
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.05);
}

/*GRID INDEX: Asi se organizará la informacion de la pagina boxeo de 1200px de ancho en adelante*/
.container_main {

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-columns: auto auto auto;
    gap: 5px 5px;
    grid-template-areas:
        "header header"
        "main-text horarios"
        "main-text horarios"
        "beneficios beneficios"
        "acordion acordion"
        "footer footer"
    ;

    .content_maintextindex {
        width: 50%;
        display: flex;
        height: auto;
        margin-top: 5rem;
        padding: 1rem;
        flex-direction: column;
        justify-self: center;
        grid-area: main-text;
        box-shadow: $sombraGrisDos;

        p {
            text-align: center;
        }
    }

    .content_beneficios {
        margin-top: 15rem;
        margin-bottom: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $colorAzulOscuro;
        width: auto;
        color: white;
        grid-area: beneficios;
        height: 30rem;

        .content_textobeneficios {
            display: flex;
            justify-content: space-evenly;
        }

        .content_beneficios-section:hover {
            transform: scale(1.05);
        }

        h3 {
            color: #ffffff;

            p {
                color: $colorNaranjaRojizo;
            }
        }

        p {
            color: #afabab;
        }

        box-shadow: 2px -3px 20px 10px rgba(0, 0, 0, 0.57);
    }

    .content_horarios {
        display: flex;
        flex-direction: column;
        grid-area: horarios;

        .horarios {
            margin: 2rem;
            padding: 15px;
        }

        h5 {
            font-family: "Montserrat", sans-serif;
            display: flex;
            margin: auto;
            font-weight: 600;
            font-size: 6vw;

            p {
                color: $colorNaranjaRojizo;
            }
        }

        td {
            border-bottom: #cfc4c4 solid 1px;
            text-align: left;
            transition: transform 0.2s ease-in;

            .table-subtitle {
                color: #d1a666;
            }
        }

        td:hover {
            .table-subtitle {
                color: $colorAmarilloClaro;
            }
        }
    }
}

/*GRID BOXEO: Asi se organizará la informacion de la pagina boxeo de 1200px de ancho en adelante*/
.gridboxeo-container {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    gap: 5px 5px;
    grid-template-areas:
        "header header"
        "imagenes_menu imagenes_menu"
        "main-text box_imagenes"
        "motivacion motivacion"
        "main-stuff main-stuff"
        "footer footer"
    ;

    .content_maintext {
        width: 60vh;
        display: flex;
        height: auto;
        margin-top: 5rem;
        padding: 1rem;
        flex-direction: column;
        justify-self: center;
        grid-area: main-text;

        p {
            text-align: center;
        }

        h4 {
            font-family: Roboto, sans-serif;
        }
    }

    .container_boximages {
        grid-area: box_imagenes;
        width: auto;
        margin: auto;
        display: flex;
        text-align: center;

        div {
            margin-left: 2rem;
        }

        img {
            margin: 1rem;
            width: 40vh;
            max-width: 350px;
        }

        h3 {
            font-family: "Montserrat", sans-serif;
            margin: auto;

            p {
                color: $colorNaranjaRojizo;
                font-size: 8vh;
            }
        }

    }

    .content_stuff {
        font-size: 2vh;
        display: flex;
        justify-self: center;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 0.5rem;
        grid-area: main-stuff;

        div h5 {
            margin: 1rem;
            font-size: 1.5vh;
            color: $colorAmarilloClaro;
            text-align: left;
        }

        h4 {
            font-size: 3rem;
        }

        .content_stuff-text {
            height: 10vh;
            width: 50vh;

            p {
                text-wrap: wrap;
                font-family: "Montserrat", sans-serif;
                text-align: center;
            }
        }

        div img {
            margin: 0rem 0rem 0rem 8rem;
            width: 30vh;
            box-shadow: none;
            border-bottom: #b4afaf 2px solid;
        }

    }
}

.container_musculacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 5px 5px;
    grid-template-areas:
        "header header"
        "imagenes_menu imagenes_menu"
        "main-text main-text"
        "motivacion motivacion"
        "main-secondtext content_secondtext"
        "footer footer"
    ;
    justify-content: center;


    .content_maintext {
        display: flex;
        flex-direction: column;
        width: auto;
        height: fit-content;
        margin: auto;
        margin: 0rem 0rem 0rem 5rem;
        padding: 1rem;
        grid-area: main-text;
        box-shadow: none;
        text-align: start;
        max-width: 80%;

        section {
            margin-top: 4rem;
            text-align: center;

            div {
                width: fit-content;
                height: fit-content;
                display: inline;

                width: 30vh;

                img {
                    width: 30vh;
                    margin: 1rem;
                }
            }

        }

        h4 {
            display: flex;
            font-family: "Montserrat", sans-serif;
            color: $colorAzulOscuro;
            font-weight: 950;
            font-size: 4vh;
            p {
                text-align: center;
                color: $colorNaranjaRojizo;
                font-size: 6vh;
            }
        }

        h4 {
            font-family: Roboto, sans-serif;
            text-align: start;
            font-size: 3vh;
        }
    }

    .content_secondtext {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 1rem;
        margin: auto;
        grid-area: main-secondtext;
        box-shadow: none;

        article {

            margin: auto;
        }
        h5 {
            display: flex;
            flex-direction: row;
            text-align: center;
            font-family: "Montserrat", sans-serif;
            color: #000000;
            font-size: 6vh;

            p {
                color: $colorNaranjaRojizo;
                font-size: 7vh;
            }
        }
     
        section {
            height: auto;
            width: auto;
            justify-content: center;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 0.2rem;
            background: linear-gradient(135deg, $colorGrisAzulado, $colorVerdeGrisaceo);
            border-radius: 10px;
            box-shadow: 0 4px 8px $box-shadow-color;
            .card-texto {
                background: #f0f0f0;
                padding: 3px;
                margin: 0rem;
                height: 20vh;
                width: auto;
                border-radius: 10px;
                box-shadow: 0 4px 6px $box-shadow-color;
                transition: transform 0.3s, box-shadow 0.3s;
                text-align: center;
                position: relative;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $sombraAzulOscuro;
                    z-index: 0;
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                &:hover {
                    transform: translateY(-5px) scale(1.02);
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

                    &:before {
                        opacity: 0.1;
                    }
                }

                h5 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    color: $colorTexto;
                    font-size: 4vh;
                    font-weight: 300px;
                    font-family: "Montserrat", sans-serif;
                    position: relative;
                    z-index: 1;

                    p {
                        margin-left: 10px;
                        color: $colorNaranjaRojizo;
                    }
                }

                p {
                    color: darken($colorTexto, 20%);
                    line-height: 1.5;
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }


}

.motivacion_container {
    position: relative;
    width: 100%;
    height: auto;
    margin: 10rem 0rem 10rem 0rem;
    height: 30rem;
    background-color: $colorAzulOscuro;
    grid-area: motivacion;

    .motivacion_container-boxeo {
        position: absolute;
        top: 40%;
        left: 38%;

        h4 {
            font-size: 3rem;
            color: $colorAmarilloClaro;

            p {
                text-align: center;
                color: #ff9a76;
            }
        }
    }

    .motivacion-container-musculacion {
        position: absolute;
        top: 45%;
        left: 30%;

        h4 {
            font-size: 3rem;
            display: flex;
            color: #ffffff;

            p {
                font-size: 10vh;
                color: #ff9a76;
            }
        }

    }
}

.content_beneficios-section {
    grid-area: beneficios;
    padding: 0.3rem;
    margin: 1.6rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;
    border-left: $colorGrisAzulado 1px solid;
    border-right: $colorGrisAzulado 1px solid;
}

/*Contendor de imagenes en pagina BOXEO*

/*CIERRA Contendor de imagenes en pagina BOXEO*/
.header_imagenes {
    grid-area: imagenes_menu;
}

/*Contendor de Beneficios, acordion y tabla de horarios en pagina INDEX*/


/*CIERRA Contendor de Beneficios y tabla de horarios en pagina INDEX*/
//acordion
.accordion {
    grid-area: acordion;
    margin: auto;
    width: auto;

    margin-bottom: 6rem;
    -webkit-box-shadow: 2px -3px 20px 10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 2px -3px 20px 10px #00000091;
    box-shadow: 2px -3px 20px 10px rgba(0, 0, 0, 0.57);

    fieldset {
        color: #36A0FF;
        font-size: 27px;
        padding: 0px;
    }

    .accordion-header {
        color: $colorVerdeGrisaceo;
        border: 1px solid #ced4da;
        font-family: "Montserrat", sans-serif;
    }

    button {
        background-color: #343a40;
        color: white;
        border: 1px solid #ced4da;
    }

    .custom-accordion-body {
        background-color: #f8f9fa;
        color: #343a40;
    }
}

//cierra acorcion



.container_contactanos-form {
    margin-top: 3rem;
    padding: 30px;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.container_contact-boostrap {
    width: 280px;
    height: 100%;
    margin: auto;
    margin-top: 30rem;

    .row-sm {
        text-align: center;
        width: auto;
        margin-top: 3rem;
    }

    div h3 {
        margin: 0rem;
        justify-content: center;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0.692)
    }

    input[type="text"],
    textarea {
        transition: border-color 0.3s ease-in-out;
    }

    input[type="text"]:focus,
    textarea:focus {
        border-color: #4CAF50;
    }

    .container_contactanos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .form-group {
        width: 20px;
    }
    .form-control {
        width: auto;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
 
        margin-bottom: 15px;
        transition: border-color 0.3s ease-in-out;
    }

}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

// cartas Tienda

.card-container {
    margin: 30rem 0rem 10rem 0rem;
    height: 100%;
    width: 100%;
    padding: 5rem;
    background-color: #2a2a2a;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    place-items: center;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);

    .container {
        p {
            font-size: 2vh;
            margin-top: 2rem;
            font-weight: 100;
            font-family: "Montserrat", sans-serif;
        }

        h3 {
            font-size: 4vh;
            margin-top: 2rem;
            font-weight: 300;
            font-family: "Montserrat", sans-serif;
            align-content: center;
            color: #fff;
            text-wrap: wrap;
        }

        .card-content {
            p {
                font-size: 3vh;
                margin-top: 2rem;
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
            }

            a {
                font-size: 3vh;
                margin-top: 2rem;
                font-weight: 300;
                font-family: "Montserrat", sans-serif;
                align-content: center;
            }
        }

        margin: 1rem;
        min-width: 400px;
        min-height: 500px;
        
        border-radius: 20px;
        position: relative;
        transition: transform 1s ease-in-out;
        transform-style: preserve-3d;

        &:hover {
            transform: rotateY(180deg);
        }

        .side {
            position: absolute;
            text-align: center;
            width:100%;
            height: 100%;
            padding: 20px 50px;
            color: #fff;
            backface-visibility: hidden;
            border-radius: 20px;
        }

        .front {
            background: #1e1e1e;
            z-index: 2;
        }

        .back {
            background: #333;
            transform: rotateY(180deg);
            z-index: 0;
        }

        .content,
        .content1 {
            transform: translateZ(70px) scale(0.8);
            line-height: 1.5em;
        }

        .content h3 {
            margin: 0;
            font-size: 2rem;
        }

        .content p {
            margin-top: 50px;
            line-height: 2em;
        }

        .content h3:before {
            content: "";
            position: absolute;
            bottom: -20px;
            height: 5px;
            background-color: #3e3;
            width: 70px;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn {
            background-color: #3e3;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            padding: 0.5rem 1rem;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.3s;
        }

        .btn:hover {
            background-color: #2e2;
            transform: scale(1.05);
        }

        .slider {
            width: 310px;
            height: 300px;
            background-color: #222;
            margin: 0.5rem 0 2rem 0;
            text-align: center;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

            .slide {
                margin: 0;
                padding: 0;
                flex: 0 0 370px;
            }

            .image-container {
                width: 1500px;
                height: 300px;
                display: flex;
                transition: transform 0.5s ease;

                img {
                    width: 370px;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 10px;
                }

            }

            #slide-1:target~.image-container {
                transform: translateX(0);

            }

            #slide-2:target~.image-container {
                transform: translateX(-370px);
            }

            #slide-3:target~.image-container {
                transform: translateX(-740px);
            }

            .buttons {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 10px;

                a {
                    display: inline-block;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    background-color: #3e3;
                    transition: background-color 0.3s;
                }

                a:hover {
                    background-color: #8f8989;
                }

                a:active {
                    background-color: #ffffff;
                }
            }
        }
    }


}

//cierra CARTAS Tienda
@media (max-width: 1340px) {
    .container_main {

        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px 5px;
        grid-template-areas:
            "header"
            "main-text"
            "horarios"
            "beneficios"
            "acordion"
            "footer"
        ;

        .content_maintextindex {
            max-width: 30vh;
            height: auto;
            margin: auto;
            padding: 1rem;

            p {
                text-align: center;
            }
        }

        .content_beneficios {
            display: flex;
            flex-direction: column;
        }

        .content_horarios {
            margin-top: 3rem;

            .horarios {
                margin: auto;
                padding: 15px;
            }

            td {
                text-align: center;
            }

            h4 {
                justify-content: center;

            }
        }
    }

    .gridboxeo-container {
        margin-top: 20rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px 5px;
        grid-template-areas:
            "header"
            "imagenes_menu"
            "main-text"
            "box_imagenes "
            "motivacion"
            "main-stuff"
            "footer"
        ;

        .content_stuff {
            margin: 5rem;
            display: flex;
            justify-self: start;
        }

        .container_boximages {
            margin: 0rem;
            justify-self: center;
        }
    }

    .container_musculacion {
        .content_maintext {
            width: 90vw;
            margin-left: 0.2rem;
            padding: 0rem;
            justify-content: center;
            text-align: center;

            article {
           
                align-items: center;
                margin-left: 3rem;
                margin-right: 2rem;
                text-align: center;
                width: 54vh;
                height: 45vh;
            }
            section{
                text-align: end;
                div{
                    margin: auto;
                }
            }
        }

        .content_secondtext {
            justify-content: space-around;
            padding: 0rem;
            margin: 0rem;

            section {
                margin: 0rem;
            }

            div {
                margin: 0rem 1rem 0rem 0rem;
            }
        }

    }

    .card-container {
        margin: 20rem 0rem 10rem 0rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);

        .card-content {
            align-items: center;

        }

        .btn-primary {
            align-items: center;
            width: 20vh;
            height: 8vh;
        }
    }
}

@media (max-width: 1080px) {
    .container_main {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        grid-template-areas:
            "header"
            "main-text"
            "horarios"
            "beneficios"
            "acordion"
            "footer"
        ;

        .content_maintextindex {
            width: auto;
            height: auto;
            display: flex;
            margin-top: 5rem;
            padding: 0rem;
            flex-direction: column;
            justify-self: center;

            p {
                text-align: center;
            }
        }

        .content_beneficios {
            height: auto;
            margin-top: 5rem;
            margin-bottom: 15rem;
            padding: 2rem;

            .content_beneficios-section:hover {
                transform: none;
            }

            h3 {
                font-size: 7vw;
                p{
                    font-size: 7vw;
                }
            }
            .content_beneficios-section{
                margin: auto;
                margin-top: 1rem;
                p{margin: 2rem;}
            }
            
        }

        .content_textobeneficios {
            display: flex;
            flex-direction: column;
        }

        .content_horarios {
            text-align: center;
            margin-top: 3rem;

            .horarios {
                margin: 2rem;
                padding: 15px;
             
            }
            td {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            h4 {
                font-size: 7vw;

            }

        }
    }

    .motivacion_container {
        margin: 8rem 0rem 5rem 0rem;
        height: 25rem;

  
        .content_subtitulo-motivacion {
            width: auto;
            position: absolute;
            text-align: center;
            top: 0;
        }
        .motivacion_container-boxeo {
            position: absolute;
            top: 40%;
            left: 20vw;
            h4 {
                margin: auto;
                font-size: 3rem;
                color: $colorAmarilloClaro;
                p {
                    text-align: center;
                    color: #ff9a76;
                }
            }
        }
    }

    .gridboxeo-container {
        margin-top: 20rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px 5px;
        grid-template-areas:
            "header"
            "imagenes_menu"
            "main-text"
            "box_imagenes "
            "motivacion"
            "main-stuff"
            "footer"
        ;

        .content_maintext {
            * {
                font-size: 90%;
            }

            margin: auto;
            
            padding: 0rem;
            width: 70vw;
            h3 {
             
                text-align: center;
                font-size:7vw;
                margin-left: 0;
                p {
                font-size: 7vw;
                }
            }

            h4 {
                font-size: 2vh;
            }

        }

        .content_stuff {
            * {
                font-size: 96%;
            }
 
            .content_stuff-text {
                height: 100%;
                width: 75%;
                margin-bottom: 7rem;
            }
            margin: auto;
            padding: 0rem;
            display: flex;
            flex-direction: column;
          
            div img {
                width: 40%;
                min-width: 140px;
                max-width: 300px;
                margin: auto;
                margin-left: 2rem;
            }
        }

        .container_boximages {
            .content_subtitulo-estudiantes{
                font-size: 7vw;
                p{font-size: 7vw;
                }
            }
            div {
                img {
                    max-width: 200px;
                    width: 70%;
                }
            }
        }
    }

    .container_musculacion {
        margin-top: 10rem;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0px;
        grid-template-areas:
            "header"
            "imagenes_menu"
            "main-text"
            "motivacion"
            "main-secondtext"
            "footer"
        ;
        text-align: center;
        justify-content: center;

        .content_maintext {
            flex-direction: column;
            max-width: 600px;
            height: fit-content;
            max-height: 1700px;
            margin: auto;
        
            margin-bottom: 12rem;
            padding: 0rem;
            justify-content: center;
            text-align: center;

            article {
                margin: auto;

                text-align: center;
                width: auto;
                height: 120%;
            }

            section {
                div {
                    justify-content: space-around;
                    align-items: center;
                    place-items: center;
                    img{
                        max-width: 200px;
                    }
                }

                margin-top: 2rem;
                margin-bottom: 4rem;
                padding: 0rem;

            }
            h3 {
                font-size: 8vw;

                p {
                    font-size: 8vw;
                }
            }

            h4 {
                text-align: center;
                font-size: 6vw;
                p{
                    font-size: 6vw;
                }
            }
        }
        .motivacion-container-musculacion {
            position: absolute;
            top: 45%;
            left: 10%;
    
            h4 {
                font-size: 3rem;
                display: flex;
                color: #ffffff;
    
                p {
                    font-size: 10vh;
                    color: #ff9a76;
                }
            }
    
        }
        .content_secondtext {
            display: flex;
            flex-direction: column;
            text-align: center;

            section {
                transform: scale(0.9);
                margin: auto;
                justify-content: center;

                div {
                    margin: auto;
                    min-height: 0rem;
                    min-width: 0rem;

                }

                gap: 10px;

                .card-texto {
                    h5 {
                        font-size: 3vh;
                        p{
                            font-size: 3vh;
                        }
                    }
                   
                 
                    padding: 0.1rem;
                    font-size:95%;
                    height: auto;
                }
            }

            article {
                div {
                    width: 15rem;
                }

                h5 {
                    font-size: 7vw;
                    color: black;
                    p {
                        color: $colorNaranjaRojizo;
                    }
                }
            }

            .disciplinas {
                margin: auto;
                a{
                    margin-top: auto;
                }
            }
        }
    }

    .card-container {
        margin: 40rem 0rem 5rem 0rem;
        height: 100%;
        width: 100%;
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

        .container {
            min-width: 280px;
            min-height: 450px;
            
            /* Reducido desde 500px */
            .content h3 {
                margin: 0;
                font-size: 1.5rem;
                /* Reducido desde 2rem */
            }

            .content p {
                margin-top: 20px;
                /* Reducido el margin-top */
                line-height: 1.5em;
            }

            .slider {
                width: 200px;
                /* Reducido desde 310px */
                height: 180px;
            }

            .slide {
                zoom: 0.6;
            }

        }
    }



}